src/main/java/com/onset/onpage/hubapi/client/hub-api.wsdl

<wsdl:definitions targetNamespace='http://onsetinc.com/OnPage/HUB/08/2011' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:s='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tm='http://microsoft.com/wsdl/mime/textMatching/' xmlns:tns='http://onsetinc.com/OnPage/HUB/08/2011' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
 <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>OnPage HUB API</wsdl:documentation>
 <wsdl:types>
  <s:schema elementFormDefault='qualified' targetNamespace='http://onsetinc.com/OnPage/HUB/08/2011'>
   <s:element name='SendMessage'>
    <s:complexType>
     <s:sequence>
      <s:element maxOccurs='1' minOccurs='0' name='Credentials' type='tns:Credentials'/>
      <s:element maxOccurs='1' minOccurs='0' name='Messages' type='tns:ArrayOfMessage'/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:complexType name='Credentials'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='0' name='Token' type='s:string'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='ArrayOfMessage'>
    <s:sequence>
     <s:element maxOccurs='unbounded' minOccurs='0' name='Message' nillable='true' type='tns:Message'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='Message'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='0' name='id' type='s:string'/>
     <s:element maxOccurs='1' minOccurs='0' name='Sender' type='tns:Sender'/>
     <s:element maxOccurs='1' minOccurs='0' name='Recipients' type='tns:ArrayOfRecipient'/>
     <s:element maxOccurs='1' minOccurs='0' name='Subject' type='s:string'/>
     <s:element maxOccurs='1' minOccurs='0' name='Body' type='s:string'/>
     <s:element maxOccurs='1' minOccurs='0' name='Reply' type='tns:ReplyOptions'/>
     <s:element maxOccurs='1' minOccurs='0' name='CallbackURI' type='s:string'/>
     <s:element maxOccurs='1' minOccurs='1' name='CallbackPeriodic' type='s:int'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='Sender'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='1' name='type' type='tns:SENDER_TYPE'/>
     <s:element maxOccurs='1' minOccurs='0' name='ID' type='s:string'/>
    </s:sequence>
   </s:complexType>
   <s:simpleType name='SENDER_TYPE'>
    <s:restriction base='s:string'>
     <s:enumeration value='EMAIL'/>
     <s:enumeration value='IP'/>
     <s:enumeration value='PHONE'/>
     <s:enumeration value='PAGER'/>
     <s:enumeration value='ID'/>
    </s:restriction>
   </s:simpleType>
   <s:complexType name='ArrayOfRecipient'>
    <s:sequence>
     <s:element maxOccurs='unbounded' minOccurs='0' name='Recipient' nillable='true' type='tns:Recipient'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='Recipient'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='0' name='id' type='s:string'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='ReplyOptions'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='1' name='AllowFreeText' type='s:boolean'/>
     <s:element maxOccurs='1' minOccurs='1' name='Requested' nillable='true' type='tns:ArrayOfString'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='ArrayOfString'>
    <s:sequence>
     <s:element maxOccurs='unbounded' minOccurs='0' name='Option' type='s:string'/>
    </s:sequence>
   </s:complexType>
   <s:element name='SendMessageResponse'>
    <s:complexType>
     <s:sequence>
      <s:element maxOccurs='1' minOccurs='1' name='SendMessageResult' nillable='true' type='tns:SendMessageResult'/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:complexType name='SendMessageResult'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='0' name='Messages' type='tns:ArrayOfMessageResult'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='ArrayOfMessageResult'>
    <s:sequence>
     <s:element maxOccurs='unbounded' minOccurs='0' name='Message' type='tns:MessageResult'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='MessageResult'>
    <s:complexContent mixed='false'>
     <s:extension base='tns:Result'>
      <s:sequence>
       <s:element maxOccurs='1' minOccurs='0' name='id' type='s:string'/>
       <s:element maxOccurs='1' minOccurs='1' name='NonExistingRecipients' nillable='true' type='tns:ArrayOfRecipient1'/>
      </s:sequence>
     </s:extension>
    </s:complexContent>
   </s:complexType>
   <s:complexType abstract='true' name='Result'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='1' name='ACCEPTED' type='s:boolean'/>
     <s:element maxOccurs='1' minOccurs='1' name='ERROR_CODE' type='s:int'/>
     <s:element maxOccurs='1' minOccurs='0' name='ERROR_DESCRIPTION' type='s:string'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='ArrayOfRecipient1'>
    <s:sequence>
     <s:element maxOccurs='unbounded' minOccurs='0' name='Recipient' type='tns:Recipient'/>
    </s:sequence>
   </s:complexType>
   <s:element name='GetStatusUpdate'>
    <s:complexType>
     <s:sequence>
      <s:element maxOccurs='1' minOccurs='0' name='Credentials' type='tns:Credentials'/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:element name='GetStatusUpdateResponse'>
    <s:complexType>
     <s:sequence>
      <s:element maxOccurs='1' minOccurs='1' name='StatusUpdateResult' nillable='true' type='tns:StatusUpdateResult'/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:complexType name='StatusUpdateResult'>
    <s:complexContent mixed='false'>
     <s:extension base='tns:Result'>
      <s:sequence>
       <s:element maxOccurs='1' minOccurs='0' name='Messages' type='tns:ArrayOfMessageStatus'/>
      </s:sequence>
     </s:extension>
    </s:complexContent>
   </s:complexType>
   <s:complexType name='ArrayOfMessageStatus'>
    <s:sequence>
     <s:element maxOccurs='unbounded' minOccurs='0' name='Message' nillable='true' type='tns:MessageStatus'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='MessageStatus'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='0' name='id' type='s:string'/>
     <s:element maxOccurs='1' minOccurs='0' name='Recipients' type='tns:ArrayOfRecipientStatus'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='ArrayOfRecipientStatus'>
    <s:sequence>
     <s:element maxOccurs='unbounded' minOccurs='0' name='Recipient' nillable='true' type='tns:RecipientStatus'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='RecipientStatus'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='0' name='id' type='s:string'/>
     <s:element maxOccurs='1' minOccurs='0' name='StatusList' type='tns:ArrayOfStatus'/>
    </s:sequence>
   </s:complexType>
   <s:complexType name='ArrayOfStatus'>
    <s:sequence>
     <s:element maxOccurs='unbounded' minOccurs='0' name='Status' nillable='true' type='tns:Status'/>
    </s:sequence>
   </s:complexType>
   <s:complexType mixed='true' name='Status'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='1' name='id' type='tns:PAGE_STATUS'/>
     <s:element maxOccurs='1' minOccurs='1' name='timeStamp' type='s:dateTime'/>
     <s:element maxOccurs='1' minOccurs='0' name='Text' type='s:string'/>
    </s:sequence>
   </s:complexType>
   <s:simpleType name='PAGE_STATUS'>
    <s:restriction base='s:string'>
     <s:enumeration value='CREATED'/>
     <s:enumeration value='PENDING'/>
     <s:enumeration value='SENT'/>
     <s:enumeration value='DELIVERED'/>
     <s:enumeration value='READ'/>
     <s:enumeration value='REPLIED'/>
     <s:enumeration value='PAGER_OFF'/>
     <s:enumeration value='APPLICATION_REMOVED'/>
     <s:enumeration value='EXPIRED'/>
     <s:enumeration value='FAILED'/>
    </s:restriction>
   </s:simpleType>
   <s:element name='ChangeToken'>
    <s:complexType>
     <s:sequence>
      <s:element maxOccurs='1' minOccurs='0' name='Credentials' type='tns:Credentials'/>
      <s:element maxOccurs='1' minOccurs='0' name='Token' type='s:string'/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:element name='ChangeTokenResponse'>
    <s:complexType>
     <s:sequence>
      <s:element maxOccurs='1' minOccurs='1' name='UpdateTokenResult' nillable='true' type='tns:UpdateTokenResult'/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:complexType name='UpdateTokenResult'>
    <s:complexContent mixed='false'>
     <s:extension base='tns:Result'/>
    </s:complexContent>
   </s:complexType>
  </s:schema>
 </wsdl:types>
 <wsdl:message name='SendMessageSoapOut'>
  <wsdl:part element='tns:SendMessageResponse' name='parameters'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='ChangeTokenSoapIn'>
  <wsdl:part element='tns:ChangeToken' name='parameters'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='GetStatusUpdateSoapIn'>
  <wsdl:part element='tns:GetStatusUpdate' name='parameters'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='ChangeTokenSoapOut'>
  <wsdl:part element='tns:ChangeTokenResponse' name='parameters'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='SendMessageSoapIn'>
  <wsdl:part element='tns:SendMessage' name='parameters'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='GetStatusUpdateSoapOut'>
  <wsdl:part element='tns:GetStatusUpdateResponse' name='parameters'></wsdl:part>
 </wsdl:message>
 <wsdl:portType name='OnPage_x0020_HUB_x0020_APISoap'>
  <wsdl:operation name='SendMessage'>
   <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Send a Page to the recipient(s).</wsdl:documentation>
   <wsdl:input message='tns:SendMessageSoapIn'></wsdl:input>
   <wsdl:output message='tns:SendMessageSoapOut'></wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='GetStatusUpdate'>
   <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Get status updates for sent Pages.</wsdl:documentation>
   <wsdl:input message='tns:GetStatusUpdateSoapIn'></wsdl:input>
   <wsdl:output message='tns:GetStatusUpdateSoapOut'></wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='ChangeToken'>
   <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Change token.</wsdl:documentation>
   <wsdl:input message='tns:ChangeTokenSoapIn'></wsdl:input>
   <wsdl:output message='tns:ChangeTokenSoapOut'></wsdl:output>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name='OnPage_x0020_HUB_x0020_APISoap12' type='tns:OnPage_x0020_HUB_x0020_APISoap'>
  <soap12:binding transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='SendMessage'>
   <soap12:operation soapAction='http://onsetinc.com/OnPage/HUB/08/2011/SendMessage' style='document'/>
   <wsdl:input>
    <soap12:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='GetStatusUpdate'>
   <soap12:operation soapAction='http://onsetinc.com/OnPage/HUB/08/2011/GetStatusUpdate' style='document'/>
   <wsdl:input>
    <soap12:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='ChangeToken'>
   <soap12:operation soapAction='http://onsetinc.com/OnPage/HUB/08/2011/ChangeToken' style='document'/>
   <wsdl:input>
    <soap12:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:binding name='OnPage_x0020_HUB_x0020_APISoap' type='tns:OnPage_x0020_HUB_x0020_APISoap'>
  <soap:binding transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='SendMessage'>
   <soap:operation soapAction='http://onsetinc.com/OnPage/HUB/08/2011/SendMessage' style='document'/>
   <wsdl:input>
    <soap:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='GetStatusUpdate'>
   <soap:operation soapAction='http://onsetinc.com/OnPage/HUB/08/2011/GetStatusUpdate' style='document'/>
   <wsdl:input>
    <soap:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='ChangeToken'>
   <soap:operation soapAction='http://onsetinc.com/OnPage/HUB/08/2011/ChangeToken' style='document'/>
   <wsdl:input>
    <soap:body use='literal'/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use='literal'/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name='OnPage_x0020_HUB_x0020_API'>
  <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>OnPage HUB API</wsdl:documentation>
  <wsdl:port binding='tns:OnPage_x0020_HUB_x0020_APISoap12' name='OnPage_x0020_HUB_x0020_APISoap12'>
   <soap12:address location='https://qanps.onpage.com/hub-api'/>
  </wsdl:port>
  <wsdl:port binding='tns:OnPage_x0020_HUB_x0020_APISoap' name='OnPage_x0020_HUB_x0020_APISoap'>
   <soap:address location='https://qanps.onpage.com/hub-api'/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>